<html>

<head>
    <title>Cadastro de cliente</title>
</head>

<body>

    <form action="/cliente/create" method="post">

        <input placeholder="nome" name="nome"/><br/>
        <input placeholder="email" name="email"/><br/>
        <button>Salvar</button>

    </form>

</body>

</html>